*{
    margin: 0%;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    color: white;
    padding: 4px;
    text-align: center;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

article, aside {
    min-width: 20vw;
}
footer, header {
    min-height:10vh;
}

nav {
    background-color: rgb(176, 233, 91);
    min-width: 20vw;
}
header {
    background-color: plum;
}
article {
    background-color: rgb(240, 121, 78);
    flex-grow: 1;
}
aside {
    background-color: rgb(196, 7, 64);
}
footer {
    background-color: rgb(143, 65, 216);
}

nav, header, article, aside, footer {
    margin: none;
    padding: none;
}
